* {

    margin: 0px;
    padding: 0px;
    
  }

body {

background-color: aqua;

}
.buscador {

display: flex;
background-color: black;
height: 140px;
width: 100%;
text-align: center;
align-items: center;
gap: 1050px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.img {


width: 120px;
height: 100px;
margin-left: 20px;

}

.enl {


    
}

.txt {

font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
  

}


@media (max-width: 768px) {

  .buscador {

  display: flex;
  background-color: red;
  height: 80px;
  width: 100%;
  text-align: center;
  align-items: center;
  gap: 140px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
  }

  .img {


    width: 60px;
    height: 50px;
    margin-left: 20px;
    
    }
    
    .enl {
    
    
        
    }
    
    .txt {
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
      
    
    }

}